/* estilos gerais da aplicação */

* {
  box-sizing: border-box;
  --cineflex-color: #E8833A;
  --header-background-color: #C3CFD9;
  --background-color: #E5E5E5;
  --black: #000;
  --white: #FFF;
  --normal-font-color: #293845;
  --success-font-color: #247A6B;
  --form-font-color: #AFAFAF;
  --selected-seat: #8DD7CF;
  --available-seat: #C3CFD9;
  --unavailable-seat: #FBE192;
  --selected-seat-border: #1AAE9E;
  --available-seat-border: #7B8B99;
  --unavailable-seat-border: #F7C52B;
  --legend-color: #4E5A65;
  --header-height: 67px;
  --footer-height: 117px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  color: var(--normal-font-color);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: var(--header-background-color);
  width: 100vw;
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  color: var(--cineflex-color);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
